.partners {
    &__wrapper {
        width: 100%;
        box-sizing: border-box;
        margin: 0 auto;
        padding: 30px 20px;
    }

    &__title {
        margin: 0;
        margin-bottom: 25px;
        text-transform: uppercase;
        line-height: 1.2;
    }

    &__img {
        display: block;
        width: 100%;
        height: auto;
        object-fit: cover;
        margin-bottom: 20px;
    }

    &__text {
        margin: 0;

        &--tablet {
            display: none;
        }
    }
}

@media (min-width: $tablet-width) {
    .partners {
        &__wrapper {
            max-width: 900px;
            padding: 40px 30px;
        }

        &__title {
            font-size: 30px;
            margin-bottom: 30px;
        }
    }
}

@media (min-width: $desktop-width) {
    .partners {
        min-height: 100vh;
        background-image: url('../img/content/page-about/partners/bg-content-1.jpeg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        &__wrapper {
            display: flex;
            flex-direction: column;
            padding: 80px 80px;
            padding-top: 180px;
            max-width: $desktop-width;
        }

        &__title {
            max-width: 600px;
            margin: 0;
            font-size: 40px;
            line-height: 1.5;
            padding: 30px;
            padding-bottom: 0;
            grid-column: 1 / 2;
            background-color: rgba(0, 0, 0, 0.3);
            backdrop-filter: blur(5px);
        }

        &__img {
            display: none;
        }

        &__content {
            display: flex;
            align-items: center;
            max-width: 600px;
            min-height: 400px;
            grid-column: 1 / 2;
            padding: 30px;
            padding-top: 0;
            background-color: rgba(0, 0, 0, 0.3);
            backdrop-filter: blur(5px);
        }
    }
}