.footer {
    &__wrapper {
        width: 100%;
        max-width: $mobile-width;
        box-sizing: border-box;
        margin: 0 auto;
        padding: 30px 20px;
    }

    &__title {
        margin: 0;
        font-size: 24px;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin-bottom: 8px;
    }

    &__text {
        margin: 0;
        font-size: 12px;
        line-height: 1.5;
        margin-bottom: 25px;
    }

    &__links {
        margin-bottom: 25px;

        &-list {
            padding: 0;
            margin: 0;
            list-style-type: none;
        }

        &-item {
            margin-bottom: 4px;

            &:last-child {
                margin-bottom: 0;
            }

            &-link {
                color: $color-text-fisrt;
            }
        }
    }

    &__contacts {
        &-list {
            padding: 0;
            margin: 0;
            list-style-type: none;
        }

        &-item {
            position: relative;
            padding-left: 30px;
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }

            &::before {
                position: absolute;
                content: '';
                top: 10px;
                left: 0;
                width: 20px;
                height: 20px;
                background-color: red;
            } 

            &-title {
                margin: 0;
                margin-bottom: 4px;
            }

            &-text {
                margin: 0;
            }
        }
    }
}