.footer {
    &__wrapper {
        width: 100%;
        max-width: $mobile-width;
        box-sizing: border-box;
        margin: 0 auto;
        padding: 30px 20px;
    }

    &__title {
        margin: 0;
        font-size: 24px;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin-bottom: 8px;
    }

    &__text {
        margin: 0;
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 25px;
    }

    &__links {     
        &-list {
            padding: 0;
            margin: 0;
            list-style-type: none;
            margin-bottom: 25px;
        }

        &-item {
            margin-bottom: 4px;

            &:last-child {
                margin-bottom: 0;
            }

            &-link {
                position: relative;
                color: $color-text-fisrt;
                text-decoration: none;
                
                &::before {
                    position: absolute;
                    content: '';
                    width: 0;
                    height: 1.5px;
                    bottom: -2px;
                    left: 0;
                    background-color: $color-six;
                }

                &:hover {
                    &::before {
                        width: 100%;
                        transition: width 0.35s;
                    }
                }

                &:active {
                    &::before {
                        width: 100%;
                        background-color: $color-fifth;
                    }
                }
            }
        }
    }

    &__contacts {
        &-title {
            margin: 0;
            margin-bottom: 15px;
        }

        &-list {
            padding: 0;
            margin: 0;
            list-style-type: none;
        }

        &-item {
            position: relative;
            padding-left: 45px;
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }

            &-icon {
                position: absolute;
                width: 30px;
                height: 30px;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                fill: $color-six;
            }

            &-title {
                margin: 0;
                margin-bottom: 4px;
            }

            &-text {
                margin: 0;
            }
        }
    }
}