.hot-deals {
    position: relative;

    &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('../img/content/hot-deals/bg-content-6.png');
        background-position: left 5%;
        background-size: cover;
        background-repeat: no-repeat;
        rotate: -180deg;
        z-index: -1;
    }

    &::after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: .3);
    }

    &__wrapper {
        padding: 30px 20px;
    }
    
    &__title {
        position: relative;
        margin: 0;
        margin-bottom: 25px;
        z-index: 2;
        text-transform: uppercase;
        line-height: 1.2;
    }

    &__subtitle {
        position: relative;
        margin: 0;
        margin-bottom: 15px;
        z-index: 2;
    }

    &__slider {
        width: 100%;
        height: 100%;
        margin-bottom: 10px;

        & .swiper-wrapper {
            padding-bottom: 35px;
        }

        & .swiper-slide {
            color: #000;
            background-color: #fff;
            border-radius: 6px;
            border: 1px solid #fff;
            box-sizing: border-box;
        }

        &-img {
            display: block;
            width: 100%;
            height: 100%;
            min-height: 200px;
            border-radius: 6px 6px 0 0;
        } 
        
        &-content {            
            padding: 20px;
            padding-top: 10px;
            border-radius: 6px;

            &-title {
                margin: 0;
                margin-bottom: 15px;
            }
        }

        &-list {
            display: flex;
            justify-content: space-between;
            padding: 0;
            margin: 0;
            list-style-type: none;
            margin-bottom: 20px;
        }

        &-item {
            position: relative;
            display: flex;
            flex-direction: column;

            &-del {
                display: block;
                width: 2px;
                background-color: $color-third;
            }

            &-info {
                display: inline-block;
                margin: 0;
                font-size: 12px;
                line-height: 12px;
                margin-bottom: 8px;
            }

            &-number {
                font-size: 16px;
                line-height: 16px;
            }
        }

        & #swiper-pagination {
            bottom: 0;
        }

        & .swiper-pagination-bullet {
            background-color: $color-six;
            width: 12px;
            height: 12px;
        }
    }

    &__links {
        width: 45%;
        max-width: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-nine;
        text-decoration: none;
        color: $color-fourth;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        background: linear-gradient(-135deg, #fcc155, #f3e69d);

        &-wrapper {
            display: flex;
            justify-content: space-between;
        }
    }

    &__price {
        padding: 15px 20px;
        border: 1px solid $color-third;
        font-size: 14px;
        line-height: 1;
    }
}


@media (min-width: $tablet-width) {
    .hot-deals {
        &__wrapper {
            padding: 40px 30px;
        }

        &__title {
            font-size: 30px;
            line-height: 1.1;
            margin-bottom: 30px;
        }
    }
}