.map {
    &__wrapper {
        position: relative;
        width: 100%;
        box-sizing: border-box;
        margin: 0 auto;
        padding: 30px 0;
        padding-bottom: 50px;
    }

    &__title {
        position: relative;
        margin: 0;
        text-align: center;
        padding-bottom: 30px;
        background-color: $color-fourth;
        z-index: 2;
        padding: 0 20px;
        margin-bottom: 25px;
        line-height: 1.1;
    }

    &__card-wrap {
        margin-bottom: 20px;

        &-iframe {
            min-height: 260px; 
            width: 100%;
            height: 100%;
        }
    }

    &__content {
        &-list {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }

        &-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 15px;

            &:last-child {
                margin-bottom: 0;
            }

            &-title {
                margin: 0;
                font-size: 24px;
                line-height: 1.5;
                margin-bottom: 8px;
            }

            &-text {
                margin: 0;
            }

            &-link {
                text-decoration: none;
                color: $color-text-fisrt;
            }
        }
    }

    &--about {
        padding: 30px 0;
    }

    &__iframe {
        &--about {
            height: 400px;
        }
    }
    
}

@media (min-width: $tablet-width) {
    .map {
        &__wrapper {
            // max-width: $tablet-width;
            padding: 40px 0;
        }

        &__title {
            font-size: 30px;
            margin-bottom: 30px;
            padding: 0 30px;
        }

        &__card-wrap {
            &-iframe {
                min-height: 400px;
            }
        }

        &__content {
            &-item {
                &-title {
                    font-size: 26px
                }

                &-text {
                    font-size: 20px;
                }
            }
        }
    }
}

@media (min-width: $desktop-width) {
    .map {
        &__wrapper {
            padding: 80px 80px;
            max-width: $desktop-width;
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        &__title {
            font-size: 40px;
            margin-bottom: 40px;
            grid-column: 1 / 2;
        }

        &__card-wrap {
            grid-column: 2 / 3;
            grid-row: 1 / 3;
            margin-bottom: 0;
        }

        &__content {
            grid-column: 1 / 2;
        }
    }
}