.reviews {
    &__wrapper {
        width: 100%;
        max-width: $mobile-width;
        box-sizing: border-box;
        margin: 0 auto;
        padding: 30px 20px;
    }

    &__list {
        display: flex;
        padding: 0;
        margin: 0;
        list-style-type: none;
        overflow-x: auto;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__item {
        min-width: 80%;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 20px;
        border-radius: $border-radius;
        background-color: $color-fifth;
        margin-right: 15px;

        &-img {
            display: block;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            margin-bottom: 15px;
        }

        &-name {
            margin: 0;
            color: $color-text-second;
            margin-bottom: 20px;
        }

        &-text {
            margin: 0;
            color: $color-text-second;
            text-align: center;
        }
    }
}

@media (min-width: $tablet-width) {
    .reviews {
        &__wrapper {
            max-width: $tablet-width;
            padding: 40px 30px;
        }

        &__title {
            font-size: 30px;
            margin-bottom: 30px;
        }
    }
}
