// Стиль текста
$font-family: 'Open Sans', sans-serif;
$font-size: 18px;
$line-height: 27px;


// Цвета
// Фон:
// $color-main: #000000; 
$color-second: #424242; // Темно-серый используем
$color-third: #eeeff1; // Серый используем
$color-fourth: #000000; // Черно-серый используем
$color-fifth: #d4ebf5; // Нежно голубой используем
$color-six: #ffffff; // используем
$color-seven: #333333; // используем
// $color-nine: #c9b159; // Золотой используем 
$color-nine: #fcc155; // Золотой используем 
// #333333


// Текст:
$color-text-fisrt: #ffffff;
$color-text-second: #000000;
$color-text-third: #b8dde9;
$color-text-fourth: #c9b159;
$color-text-fifth: #fcc155;

// Скргуление:
// $border-radius: 20px;
$border-radius: 0;

// Вьюпорт
$mobile-width: 400px;
$tablet-width: 768px;
$desktop-width: 1440px;

