// Стиль текста
$font-family: 'Open Sans',Arial,sans-serif;
$font-size: 18px;
$line-height: 27px;


// Цвета
// Фон:
$color-main: #141414;
$color-second: #7a7a7c;
$color-third: #eeeff1;
$color-fourth: #464646;
$color-fifth: #b8dde9;
$color-six: #ffffff;

// Текст:
$color-text-fisrt: #ffffff;
$color-text-second: #000000;
$color-text-third: #b8dde9;

// Скргуление:
$border-radius: 20px;

// Вьюпорт
$mobile-width: 400px;
$tablet-width: 768px;
$desktop-width: 1200px;

