// Стиль текста
$font-family: 'Open Sans', sans-serif;
$font-size: 18px;
$line-height: 27px;


// Цвета
// Фон:
$color-second: #424242; // Темно-серый 
$color-third: #eeeff1; // Серый 
$color-fourth: #000000; // Черный
$color-six: #ffffff; // Белый
$color-seven: #333333; // используем
$color-nine: #fcc155; // Золотой используем 

// Текст:
$color-text-fisrt: #ffffff;
$color-text-second: #000000;
$color-text-fifth: #fcc155;

// Скргуление:
$border-radius: 0;

// Вьюпорт
$mobile-width: 400px;
$tablet-width: 768px;
$desktop-width: 1440px;

