.offers-page-filter {
    background-image: url('../img/content/page-about/review/bg-content-1.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &__wrapper {
        padding: 40px 30px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        list-style-type: none;
        overflow-x: auto;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__item {
        min-width: max-content;
        padding: 10px 20px;
        border: 1px solid #fcc155;
        color: #fcc155;
        margin-bottom: 5px;
        background-color: #000;
        text-align: center;

        &--active {
            background-color: #fcc155;
            color: #000;
        }

        &:hover {
            background: none;
            background-color: $color-nine;
            color: $color-text-second;
        }

        &:active {
            background: none;
            background-color: darken($color: $color-nine, $amount: 10);
            color: $color-text-second;
        }
    }
}

@media (min-width: $tablet-width) {
    .offers-page-filter {
        &__list {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10px;
        }

        &__item {
            margin: 0;

            &:last-child {
                grid-column: 1 / 3;
            }
        }
    }
}

@media (min-width: $desktop-width) {
    .offers-page-filter {
        padding-top: 90px;

        &__list {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            // display: grid;
            // grid-template-columns: repeat(4, 1fr);
            // gap: 10px;
        }

        &__item {
            &:last-child {
                grid-column: unset;
            }
        }
    }
}