.offers-page-filter {
    background-image: url('../img/content/page-about/review/bg-content-1.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &__wrapper {
        max-width: 900px;
        padding: 40px 30px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        list-style-type: none;
        overflow-x: auto;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__item {
        min-width: max-content;
        padding: 10px 20px;
        border: 1px solid #fcc155;
        color: #fcc155;
        margin-bottom: 5px;
        background-color: #000;


        &:hover {
            background: none;
            background-color: $color-nine;
            color: $color-text-second;
        }

        &:active {
            background: none;
            background-color: darken($color: $color-nine, $amount: 10);
            color: $color-text-second;
        }
    }
}