.offers-page {
    &__wrapper {
        width: 100%;
        box-sizing: border-box;
        margin: 0 auto;
        padding: 30px 20px;
    }

    &__title {
        margin: 0;
        margin-bottom: 25px;
    }

    &__list {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    &__item {
        display: flex;
        flex-direction: column;
        background-color: $color-second;
        margin-bottom: 20px;
        background-color: darken($color: #333333, $amount: 5);
        padding-bottom: 15px;

        &-content {
            padding: 0 15px;
        }

        &-title {
            margin: 0;
            margin-bottom: 10px;
            text-align: center;
        }

        &-link {
            display: block;
            padding: 5px 25px;
            border: 1px solid #ffffff;
            color: #ffffff;
            text-align: center;

            &:hover {
                background-color: $color-six;
                color: $color-text-second;
            }
            
            &:active {
                background-color: darken($color: $color-six, $amount: 5);
                color: $color-text-second;
            }
        }

        &--hidden {
            display: none;
        }
    }

    &__slider {
        width: 100%;
        height: 100%;
        padding: 10px 0;

        &-img {
            display: block;
            width: 100%;
            height: 100%;
            min-height: 200px;
        } 

        & #swiper-4 {
            padding: 0 20px;
        }

        & #swiper-pagination {
            bottom: 0;
        }

        & .swiper-pagination-bullet {
            background-color: $color-six;
            width: 12px;
            height: 12px;
        }

        & .image-mini-slider {
            padding: 10px;
        }

        & .image-mini-slider__slide {
            opacity: 0.3;
            transition: opacity 0.3 ease 0s;
        }
        
        & .image-mini-slider__slide.swiper-slide-thumb-active {
            opacity: 1;
        }
        
        & .image-mini-slider__image {
            min-height: 35px;
            position: relative;
            padding: 0 0 30% 0;
            cursor: pointer;           
        }

        & .image-mini-slider__image img {
            object-fit: cover;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
    }

    &__sublist {
        padding: 0;
        margin: 0;
        list-style-type: none;
        margin-bottom: 20px;
    }

    &__subitem {
        display: none;
        flex-direction: column;
        margin-bottom: 4px;

        &--general {
            display: flex;
        }

        &-text {
            margin: 0;
            font-weight: 800;
        }

        &-number {
            margin: 0;
        }
    }

    &__button {
        width: 100%;
        min-height: 40px;
        font-size: 18px;
        line-height: 18px;
        background-color: $color-fourth;
        border: 1px solid $color-six;
        color: $color-text-fisrt;

        &:hover {
            background-color: $color-six;
            color: $color-text-second;
        }
        
        &:active {
            background-color: darken($color: $color-six, $amount: 5);
            color: $color-text-second;
        }

        &-wrapper {
            display: none;
            // display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }
    }

    &__empty {
        display: none;
        position: relative;
        // display: flex;
        align-items: center;
        min-height: 400px;
        border: 2px solid #333333;
        box-sizing: border-box;
        padding: 20px;
        padding-top: 100px;

        &::before {
            position: absolute;
            top: 52px;
            left: 50%;
            transform: translateX(-50%);
            content: '+';
            font-size: 120px;
            color: #333333;
            width: max-content;
            height: max-content;
        }

        &-title {
            margin: 0;
            margin-bottom: 20px;
            text-align: center;
        }

        &-text {
            margin: 0;
            text-align: center;
        }
    }
}

@media (min-width: $tablet-width) {
    .offers-page {
        &__wrapper {
            max-width: 900px;
            padding: 40px 30px;
        }

        &__title {
            font-size: 30px;
            margin-bottom: 30px;
        }

        &__slider {   
            padding: 0;

            & #swiper-4 {
                height: 100%;
            }
            
            & #swiper-pagination {
                bottom: 10px;
            }

            & .swiper-pagination-bullet {
                width: 16px;
                height: 16px;
            }

            &-img {
                object-fit: cover;
            }
        }

        &__item {
            display: grid;
            grid-template-columns: 50% 45%;
            column-gap: 20px;
            box-sizing: border-box;
            padding: 20px 0;
            margin-bottom: 50px;

            &-content {
                padding: 0;
            }

            &-title {
                padding: 0;
                text-align: left;
            }

            &-slider {
                padding: 0;
                grid-row: 1 / 3;
            }

            &-link {
                padding: 7px 25px;
            }

            &--hidden {
                display: none;
            }
        }

        &__sublist {
            padding: 0;
        }

        &__subitem {
            margin-bottom: 0;
        }
    }
}

@media (min-width: $desktop-width) {
    .offers-page {
        &__wrapper {
            padding: 80px 30px;
            max-width: $desktop-width;
        }

        &__title {
            font-size: 40px;
            margin-bottom: 40px;
        }

        &__list {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            display: grid;
            grid-template-columns: repeat(3, 33%);
            gap: 30px;
            margin-bottom: 60px;
        }

        &__item {
            display: flex;
            margin-bottom: 0;

            &-content {
                margin-top: 20px;
                padding: 0 20px;
            }

            &--hidden {
                display: none;
            }
        }

        &__slider {   
            margin-bottom: 20px;
            
            & #swiper-pagination {
                bottom: 2px;
            }

            & .swiper-pagination-bullet {
                width: 14px;
                height: 14px;
            }
        }

        &__sublist {
            display: flex;
            flex-direction: column;
        }

        &__button {
            max-width: 300px;
        }
    }
}